ul {
  border-bottom:2px solid rgb(109, 16, 16);
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 25px 0;
}

li {
  height: 300px;
  list-style: none;
  margin: 10px; 
  padding: 0;
} 

img {
  cursor: pointer;
  border-radius:50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  mix-blend-mode: luminosity;
  transition: all 200ms ease-in-out;
}

img:hover {
  transform: scale(1.2);
  mix-blend-mode: normal;
}

button {
  color: black;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 5px 25px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 5px 0px 0px rgb(109, 16, 16);
  transition: all 200ms ease-in-out;

}

button:hover {
  transform:translateY(5px);
        box-shadow: 0px 1px 0px 0px rgb(109, 16, 16);
}



.hero {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}


.your-team {
  width: 480px;
  display: grid;
  grid-template-columns: repeat( 3, 1fr);
  grid-auto-flow:row;
}

.your-team img {
  mix-blend-mode: normal;
}
.your-team img:hover {
  transform: scale(1);
}

.marketplace {
  width: 480px;

  display: grid;
  grid-template-columns: repeat( 3, 1fr);
  grid-auto-flow:row;
}